.center, .current {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex!important;
  justify-content: left;
  align-items: center;
}

.current {
  background-color: lightgreen;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 auto;
  width: 100%;
}

.custom-tooltip {
  position: absolute;
  width: 960px;
  height: 540px;
  border: 0px;
  box-shadow: 0px 0px 15px rgb(59, 59, 59);
  overflow: hidden;
  pointer-events: none;
  transition: opacity 1s;
}

.custom-tooltip.ag-tooltip-hiding {
  opacity: 0;
}

.custom-tooltip p {
  margin: 5px;
  white-space: nowrap;
}

.custom-tooltip p:first-of-type {
  font-weight: bold;
}
